<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookyourshow">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/bookshow"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/bookshow"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookMyShow">

        <activity android:name="com.example.bookyourshow.Activities.PrivacyPolicyActivity"/>
        <activity android:name="com.example.bookyourshow.Activities.TermsandConditionsActivity"/>
        <activity
            android:name="com.example.bookyourshow.Activities.PaymentPage"
            android:exported="true" />
        <activity
            android:name="com.example.bookyourshow.Activities.EventsDetails"
            android:exported="true" />
        <activity
            android:name=".Activities.SelectTimeLocation"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.PurchaseHistoryActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.SelectSeat"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.BookMovieTicket"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.MoviesActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.SportActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.UserDetailsActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.SelectDate"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.StreamingSeeAllActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.HomeActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.example.bookyourshow.Activities.LoginScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name="com.example.bookyourshow.Activities.EmailLogin"/>
        <activity android:name="com.example.bookyourshow.Activities.PhonenumberLogin"/>
        <activity
            android:name="com.example.bookyourshow.Activities.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>